@model IEnumerable<GlamourZone.Models.CategoryViewModel>

@{
    ViewData["BodyClass"] = "categories-page";
}

<h1 class="text-center mb-4">Our Services</h1>

<div class="container">
    <div class="row">
        @foreach (var catgeory in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card category-card">
                    <img src="@catgeory.PhotosPath" class="card-img-top" alt="@catgeory.Name">
                    <div class="card-body">
                        <h5 class="card-title">@catgeory.Name</h5>
                        <p class="card-text">@catgeory.Description</p>
                        <a href="/Categories/Services" class="btn btn-primary"><span>Explore Services</span></a>
                        <a href="/ContactUs/ContactUs" class="btn btn-primary"><span>Enquire</span></a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
